* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #121212;
    color: #fff;
     font-size: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.container {
    max-width: 900px;
    margin: 20px  auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #f39c12;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.imagen {
    max-width: 450px;
    border: 5px solid #f39c12;  /* Borde naranja */
    border-radius: 15px;  /* Esquinas redondeadas para un toque moderno */
    }

.logo {
    max-width: 300px;
    border: 2px solid #e67e22;  /* Borde naranja */
    border-radius: 5px;  /* Esquinas redondeadas para un toque moderno */
   }

#datosDisplay {
    list-style-position: inside;  /* Asegura que los puntos estén alineados con el texto */
    padding-left: 0;  /* Elimina cualquier espacio a la izquierda del ul */
    text-transform: uppercase;  /* Convierte todas las letras a mayúsculas */
}

#datosDisplay li {
    margin-bottom: 6px;  /* Añade un pequeño espacio entre los elementos de la lista */
}

#resetButton {
    margin-top: 20px;  /* Ajusta el valor según el espacio que desees */
    padding: 10px 20px;
    background-color: #f39c12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resetButton:hover {
    background-color: #e67e22;
}

#nombreDisplay {
    font-size: 34px;  /* Aumenta el tamaño del h1 */
    text-transform: uppercase;  /* Convierte todas las letras a mayúsculas */    
}

#mantraHebreoDisplay {
    font-size: 60px;
    font-weight: bold;
    line-height: 0.6;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-flex;           /* Cambia el modelo de caja */
    align-items: center; 
}

#peticionDisplay {
    line-height: 0.6;  /* Espaciado entre líneas */
    text-align: center;  /* Justifica el texto */
    margin: 10px;  /* Espacio superior para separar del contenido anterior */
}

#fullscreenButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f39c12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#fullscreenButton:hover {
    background-color: #e67e22;
}

#datos {
    height: 60px;  /* Ajusta la altura del campo */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    text-transform: uppercase;  /* Convierte las letras a mayúsculas */
    font-weight: bold;  /* Hace que el texto esté en negrita */
    display: block;  /* Asegura que cada label esté en su propia línea */
    margin-bottom: 10px;  /* Espacio debajo del título */
    padding-left: 5px;  /* Espacio a la izquierda para darle un poco de separación */
    padding-right: 5px;  /* Espacio a la derecha para igualar el padding */
}

#formTitle {
    text-align: center;  /* Centra el título */
    margin-top: 20px;  /* Espacio superior */
    margin-bottom: 20px;  /* Espacio inferior */
    padding: 10px;  /* Espacio interno alrededor del título */
    font-size: 28px;  /* Ajusta el tamaño del texto */
    font-weight: bold;  /* Hace que el título sea más prominente */
    text-transform: uppercase;  /* Convierte el título a mayúsculas */
    color: #f39c12;
}

/* Ocultamos el input de archivo real */
.file-input {
    display: none;  /* Oculta el input file original */
}

/* Estilo para el label que actúa como botón */
.file-input-label {
    display: inline-block;
    padding: 12px 25px;
    background-color: #f39c12;  /* Fondo azul */
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.file-input-label:hover {
    background-color: #e67e22;  /* Color más oscuro en hover */
    transform: scale(1.05);  /* Efecto de hover */
}

.file-input-label:active {
    transform: scale(1);  /* Efecto al presionar el botón */
}

/* Estilo para mostrar el nombre del archivo */
#fileNameDisplay {
    font-size: 14px;
    color: #27ae60;  /* Color verde */
}

#peticionDisplay {
    margin-top: 10px;
    font-size: 16px;
    color: #27ae60;
    font-style: italic;
    font-weight: bold;
}

#mantraAperturaDisplay, #salmoDisplay, #mantraCierreDisplay {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;  /* Espaciado entre líneas */
    text-align: center;  /* Justifica el texto */
    margin: 10px;  /* Espacio superior para separar del contenido anterior */
    text-transform: uppercase;
}

.esp {
    margin-bottom: 5px;
}

.esp2 {
    margin-bottom: 5px;
    color: #27ae60; 
    font-weight: bold;    
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    .image-container {
        flex-direction: column;
    }

    .imagen {
        max-width: 300px;
    }
    
    .logo {
        max-width: 80px;
        
    }
}


